<%- include('header'); %>

<div id="react-root"></div>

<script src="jquery.min.js"></script>
<script src="lodash.js"></script>
<script src="react.js"></script>
<script src="react-dom.js"></script>
<script src="ReactRouter.js"></script>

<script src="UserData.js"></script>
<script src="components/SetEditorComponent.js"></script>
<script src="components/SetViewComponent.js"></script>
<script src="components/SetListComponent.js"></script>
<script src="components/CardEditorComponent.js"></script>
<script src="components/QuizzerComponent.js"></script>
<script src="components/App.js"></script>

<script src="router.js"></script>
<%- include('footer'); %>
