<%- include('header'); %>

<div class="create-account">
  <h1>Create Account</h1>

  <form method="POST" action="create-account">

    <input name="email" placeholder="email"></input>

    <input name="password" placeholder="password"></input>

    <button>create account</button>

  </form>
</div>



<%- include('footer'); %>
