<%- include('header'); %>

<h1>Express Flash Cards</h1>

<p>This is Express Flash Cards, an flash-card app built with Node, Express and React. Other tech includes SCSS, passport, express-session, and EJS.</p>

<p>If you already have an account, <a href="/login">you can login</a>. Otherwise, <a href="/create-account">please create an account.</a></p>

<%- include('footer'); %>
