<%- include('header'); %>
  <div class="login">
    <h1>Login!</h1>

    <form method="POST" action="login">

      <input name="email" placeholder="email"></input>

      <input name="password" placeholder="password"></input>

      <button>login</button>

    </form>

    <p>Or, <a href="/create-account">register for a new account</a>.</p>
  </div>

<%- include('footer'); %>
